<head>
  <title><%= content_for(:title) || product_name %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

  <%= javascript_include_tag "https://cdn.plaid.com/link/v2/stable/link-initialize.js" %>
  <%= combobox_style_tag %>

  <%= javascript_importmap_tags %>
  <%= render "layouts/dark_mode_check" %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="<%= product_name %>">

  <meta name="msapplication-TileColor" content="#F9F9F9">
  <meta name="theme-color" content="#F9F9F9">

  <link rel="manifest" href="<%= pwa_manifest_path %>">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0EA35C">

  <%= yield :head %>
  <%= render "shared/posthog" %>
</head>
