<div 
  data-controller="<%= carousel_data[:controller] %>"
  data-box-carousel-items-value="<%= carousel_data[:box_carousel_items_value] %>"
  data-box-carousel-width-value="<%= carousel_data[:box_carousel_width_value] %>"
  data-box-carousel-height-value="<%= carousel_data[:box_carousel_height_value] %>"
  data-box-carousel-direction-value="<%= carousel_data[:box_carousel_direction_value] %>"
  data-box-carousel-auto-play-value="<%= carousel_data[:box_carousel_auto_play_value] %>"
  data-box-carousel-auto-play-interval-value="<%= carousel_data[:box_carousel_auto_play_interval_value] %>"
  data-box-carousel-enable-drag-value="<%= carousel_data[:box_carousel_enable_drag_value] %>"
  data-box-carousel-perspective-value="<%= carousel_data[:box_carousel_perspective_value] %>"
  class="box-carousel-container">
  <div class="box-carousel-wrapper" data-box-carousel-target="wrapper">
    <!-- Carousel will be rendered by Stimulus controller -->
  </div>
</div>
