<%= render "layouts/shared/htmldoc" do %>
  <div class="flex flex-col h-full">
    <div class="flex flex-col h-full px-6 py-12 bg-surface">
      <div class="grow flex flex-col justify-center">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <div class="flex justify-center mt-2 md:mb-6">
            <%= render BoxCarouselComponent.new(
              items: [
                { id: "1", type: "video", src: "https://cdn.cosmos.so/3fe9c8a8-b562-4090-a5ac-5bbdf655a938.mp4", alt: "@portalsandpaths" },
                { id: "2", type: "video", src: "https://cdn.cosmos.so/594e87df-e8ca-4d03-8137-f78b5dab6793.mp4", alt: "@studio.size" },
                { id: "3", type: "image", src: "https://cdn.cosmos.so/92162e2e-abf6-4b98-a557-bfe25a336608?format=jpeg", alt: "@david_wise" },
                { id: "4", type: "video", src: "https://cdn.cosmos.so/aae0a1e6-d03d-43ae-aa7f-21627a950730.mp4", alt: "@svenvranjes" },
                { id: "5", type: "image", src: "https://cdn.cosmos.so/7a5f1a73-ca73-466b-afaf-2b3d0639aa1a?format=jpeg", alt: "@deconstructie" }
              ],
              width: 280,
              height: 200,
              direction: "right",
              auto_play: true,
              auto_play_interval: 3000,
              enable_drag: true,
              perspective: 1000
            ) %>
          </div>
          <div class="space-y-2">
            <h2 class="text-3xl font-medium text-primary text-center">
              <%= content_for?(:header_title) ? yield(:header_title) : product_name %>
            </h2>
            <% if (controller_name == "sessions" && action_name == "new") || (controller_name == "registrations" && action_name == "new") %>
              <div class="space-y-3 md:hidden w-full my-4">
                <div class="bg-surface-inset rounded-lg p-1 flex">
                  <%= link_to new_session_path,
      class: "w-1/2 px-2 py-1 rounded-md text-sm text-center font-medium #{current_page?(new_session_path) ? 'bg-surface shadow-sm text-primary' : 'text-secondary'}" do %>
                    <%= t("layouts.auth.sign_in") %>
                  <% end %>
                  <%= link_to new_registration_path,
      class: "w-1/2 px-2 py-1 rounded-md text-sm text-center font-medium #{!current_page?(new_session_path) ? 'bg-surface shadow-sm text-primary' : 'text-secondary'}" do %>
                    <%= t("layouts.auth.sign_up") %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if controller_name == "sessions" %>
              <p class="text-sm text-center hidden md:block">
                <%= tag.span t(".no_account", product: product_name), class: "text-secondary" %> <%= link_to t(".sign_up"), new_registration_path, class: "font-medium text-primary hover:underline transition" %>
              </p>
            <% elsif controller_name == "registrations" %>
              <p class="text-sm text-center text-gray-600 hidden md:block">
                <%= t(".existing_account") %> <%= link_to t(".sign_in"), new_session_path, class: "font-medium text-primary hover:underline transition" %>
              </p>
            <% end %>
          </div>
        </div>

        <div class="mt-0 md:mt-8 sm:mx-auto sm:w-full sm:max-w-lg">
          <%= yield %>
        </div>
      </div>

      <%= render "layouts/shared/footer" %>
    </div>
  </div>
<% end %>
